<mat-card
  mat-button
  *ngIf="isVisible"
  class="expanding-card" 
  [id]="id"
  [style.width]="width"
  [style.height]="height"
  [class.mat-elevation-z2]="!expanded"
  [class.mat-elevation-z8]="expanded"
>
  <div 
    *ngIf="isLoading; else load"
    class="expanding-card-loading"
  >
    <mat-progress-spinner 
      mode="indeterminate" 
      color="warn"
      [diameter]="((width + height) / 2) * 0.10"
    >
    </mat-progress-spinner>
  </div>
  <ng-template #load>
    <mat-card-title-group>
      <mat-card-title>
        {{ title | ellipsis:titleEllipsis }}
      </mat-card-title>
      <mat-card-subtitle *ngIf="content">
        {{ content | ellipsis:contentEllipsis }}
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-actions>
      <div class="fab-containers">
        <a 
          mat-button color="access"
          [routerLink]="['posts', id]"
        >  
          <mat-icon>border_color</mat-icon> Edit
        </a>
        <button 
          mat-button color="warn"
          (click)="handleDelete($event, id)"
        >  
          <mat-icon>delete</mat-icon> Delete
        </button>
      </div>
    </mat-card-actions>
  </ng-template>
</mat-card>
