<mat-card
  *ngIf="isVisible"
  class="expanding-card" 
  [id]="id"
  [style.width]="width"
  [style.height]="height"
  [class.mat-elevation-z2]="!expanded"
  [class.mat-elevation-z8]="expanded"
  (click)="handleClick($event)"
>
  <div 
    *ngIf="isLoading; else load"
    class="note-loading"
  >
    <mat-card-title-group>
      <div class="title-group-container"> 
        <mat-card-title>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-subtitle>
      </div>
    </mat-card-title-group>
  </div>
  <ng-template #load class="note-loaded">
    <div *ngIf="editMode; else safeMode" class="edit-mode">
        <div class="edit-mode-content">
          <mat-card-content>
            <mat-form-field>
              <input 
                matInput
                #titleInput
                type="text"
                [value]="data.title"
                (keyup)="changeFormValue('title', titleInput.value)"
              >
            </mat-form-field>
            <mat-form-field>
              <textarea 
                matInput
                #contentInput
                [value]="data.content"
                (keyup)="changeFormValue('content', contentInput.value)"
              >
              </textarea>
            </mat-form-field>
          </mat-card-content>
        </div>
        <mat-card-actions>
          <button 
            mat-button 
            *ngIf="showEditButton"
            color="accent"
            (click)="handleEdit($event, data)"
          >
            Save
          </button>
          <button 
            mat-button 
            *ngIf="showEditButton" 
            color="warn"
            (click)="handleDelete($event)"
          >
            Delete
          </button>
        </mat-card-actions>
    </div>
    <ng-template #safeMode>      
      <mat-card-title-group>
        <mat-card-title>
          {{ title | ellipsis:titleEllipsis }}
        </mat-card-title>
        <mat-card-subtitle *ngIf="content">
          {{ created_at }}  
        </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        {{ content | ellipsis:contentEllipsis }}
      </mat-card-content>
      <mat-card-actions>
        <button 
          mat-button 
          *ngIf="showEditButton" 
          color="warn"
          (click)="handleDelete($event)"
        >
          Delete
        </button>
      </mat-card-actions>
    </ng-template>
  </ng-template>
</mat-card>